<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".MonitoringSleepApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <activity
            android:name=".activities.SleepActivity"
            android:exported="true"
            android:label="@string/sleep_activity"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.JournalActivity"
            android:exported="true"
            android:label="@string/journal_activity"
            android:theme="@style/JournalTheme" />

        <activity
            android:name=".activities.StatisticsActivity"
            android:exported="true"
            android:label="@string/statistics_activity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.PreferencesActivity"
            android:exported="true"
            android:label="@string/preferences_activity"
            android:theme="@style/AppTheme" />

    </application>

</manifest>